.app.light {
  --bg-color: #ffffff;
  --inverted-bg-color: #222222;

  --primary-color: rgb(15, 15, 15);
  --secondary-color: rgb(190, 190, 190);
  --inverted-primary-color: rgb(236, 236, 236);
  --inverted-secondary-color: rgb(150, 150, 150);
}
